<h1 style="color:black;font-size:45px;">Fedora Salon & Spa</h1>
<h3 style="color:red;font-size:20px;">Website Down for Maintenance<br> Sorry for the inconvenience</h3>
<br>
<h2 style="font-size:25px;">Contact Info:</h2>
<p><strong>Address:</strong> 4167 Main St, Philadelphia, PA 19127</p>
<p><strong>Phone:</strong> (267) 335-2876</p>

